# Common
node_modules/
.DS_Store
*.log
.env
.env.*
!.env.example

# IDE
.vscode/
.idea/

# Backend (Go)
/ecommerce-backend/bin/
/ecommerce-backend/vendor/

# Frontend (Next.js)
/ecommerce-web/.next/
/ecommerce-web/out/
/ecommerce-web/build/
/ecommerce-web/.vercel/

# Logs
/build_log.txt
/build_log_2.txt
/ui_build_log.txt
